.search-bar-component{
    background-color: var(--lightWhite);
    box-shadow: 0px 0px 7px var(--boxShadow);
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;

}
.search-inp{
    border: 0px solid var(--white);
    background-color: var(--lightWhite);
    font-size: 14px;
    width: 95%;
    color: var(--blue);
}
.search-inp:focus{
    border: 0px solid var(--white);
    outline: none;
}
.search-inp:active{
    border: 0px solid var(--white);
    /* outline: none; */
}
.search-inp::placeholder{
    color: var(--blue);
    font-size: 14px;
}
.search-icon{
    color: var(--blue);
    font-size: 1.5rem;
    cursor: pointer;
    width: 5%;
}