.below-table-btn-parent{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}
.BelowTableButton-default{
    border-width: 0px; 
    background-color: var(--white);
    border-radius: 3px;
    font-weight: lighter;
    height: 35px;
    width: 70px;
    outline: 1.3px solid var(--blue);
    /* color: rgb(118, 117, 117); */
    color: var(--gray);
    font-size: 14px;
    transition: all 0.3s;
}
.BelowTableButton-default:hover,.BelowTableButton-default:focus{
    outline: 1.3px solid #487AE2;
    background-color: #487AE2;
    color: white;
    transition: all 0.4s;
}