.FormCard-Paragraph {
    color: black;
    font-weight: bold;
    font-size: 15px;
}
.FormCard-BreadCrumbs{
    padding: 5px 0px 0px 10px;
    font-weight: 100;
    font-size: 13px;
    color: rgb(147, 147, 147);
}
.FormCard-para-division {
    text-align: center;
}
.radio-main-div{
    display: flex;
    justify-content: end;
    padding: 0px 10px 10px 10px;
}
.FormCard-radiobox{
    font-size: 30px;
}
.FormCard-radiobox-label{
    color: black;
    font-weight: 600;
    font-size: 15px;
    padding: 0px 5px 0px 10px;
}
.FormTextBox-Name-division {
    width: 50%;
    display: flex;
    justify-content: space-between;
}
.FormTextBox-semicolon {
    font-weight: bold;
}
.FormTextBox-Main-division {
    max-width: 500px;
    display: flex;
    justify-content: space-between;
}
.FormCard-SubmitButton {
    width: 219px;
}
.FormCard-SubmitButton-division {
    display: flex;
    justify-content: end;
}
.FormCard-NavButton-division {
    display: flex;
    justify-content: end;
}
.FormTextBox-Textbox-division {
    margin-left: 3%;
}
.FormCard-man-div {
    width: 500px;
}
.FormCard-division {
    display: flex;
    justify-content: center;
    height: 600px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px grey;
    padding: 80px 20px 20px 20px;
}
.FormCard-NavButton {
    font-size: 12px;
    cursor: pointer;
}
