.SubmitButton-default{
    font-weight: bold;
    color: white;
    background-color: #EAC96B;
    border-width: 0px;
    border-radius: 5px;
    width: 323px;
    height: 37px;
    box-shadow: 0px 0px 2px rgb(129,129,129);
}
.BlueButton-button{
    background-color: #487AE2;
    color: white;
    border-width: 0px;
    font-weight: lighter;
    width: 203px;
    height: 37px;
}
.SubmitButton-default:hover{
    background-color: #e5b226;
    transition: all 0.4s;
}
.SubmitButton-default:active{
    background-color: #EAC96B;
}