.DeletePopUp-delete-division{
    opacity: 1;
    position: absolute;
    top: 40%;
    left: 50%;
    z-index: 1000;
}
.dropdown-toggle::after {
    display: none;
  }
.DropEnd-Paragraph-division:hover{
    background-color: #487AE2;
    color: white;
    font-weight: lighter;
}
.DropEnd-button{
    border-width: 0px;
    background-color: white;
  }
.DropEnd-Paragraph-main-division{
    background-color: rgb(255, 255, 255);
    position: absolute;
    right: -28%;
  }
.DropEnd-Paragraph-division{
    width: 70px;
    margin: 2px;
    border-radius: 2px;
    padding: 2px;
    background-color: rgb(255, 255, 255);
}
.DropEnd-Paragraph{
    font-size: 12px;
    text-align: center;
}
.Notes-BreadCrumbs{
    padding: 5px 0px 0px 5px;
    font-weight: 100;
    font-size: 13px;
    color: rgb(147, 147, 147);
    cursor: pointer;
    margin-bottom: 10px;
}
.Notes-SearchBar{
    width: 280px;
    border-radius: 7px;
}
.Notes-SearchBar-division{
    margin: 15px;
}
.NotesText-main-division{
    position: relative;
}
.AddNotesCard-Button{
    height: 30px;
    width: 100px;
    border-radius: 0px;
    font-weight: 100;
}
.SaveNotesPdf-DropEnd-division{
   text-align: end;
   z-index: 1;
}
.AddNotesCard-Main-Division{
    height: 170px;
    width: 170px;
    box-shadow: 0px 0px 5px rgb(213, 213, 213);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Notes-Main-Division{
    box-shadow: 0px 0px 5px rgb(177, 177, 177);
    height: 80vh;
    width: 100%;
    border-radius: 5px;
    overflow-y: scroll;
}
.blur {
    filter: blur(4px);
    pointer-events: none;
}
.Notes-Main-Division-blur{
    box-shadow: 0px 0px 5px rgb(177, 177, 177);
    height: 80vh;
    width: 100%;
    border-radius: 5px;
    overflow-y: scroll;
    opacity: 0.4;
}
.Notes-Sub-Division{
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    /* justify-content: center; */
    gap: 20px;
    padding-top: 20px;
    margin: 15px;
}

.Notes-Main-Division::-webkit-scrollbar {
    display: none; 
}
.SaveNotesCard-Main-Division{
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgb(192, 190, 190);
    max-width: 290px;
    padding: 15px;
    height: 140px;
    margin: 15px;
    background-color: white;
}
.SaveNotesCard-BelowTableButton{
    border-radius: 0px;
    color: rgb(99, 99, 99);
    outline: 1px solid rgb(172, 167, 167);
    width: 80px;
    height: 30px;
    background-color: white;
    font-weight: 100;
}
.Button-SaveNotesCard{
    border-radius: 0px;
    width: 80px;
    height: 30px;
}
.SaveNotesCard-Button-Division{
    display: flex;
    justify-content: space-evenly;
}
.NotesText-Textbox{
    height: 70vh;
    width: 100%;
    outline: 1px solid rgb(255, 255, 255) ;
    border-width: 0px;
}
.NotesText-save-button{
    border-radius: 0px;
    height: 30px;
    width: 100px;
}
.NotesText-save-button-division{
    display: flex;
    justify-content: end;
}

.NotesText-SaveNotesCard-division{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 1;
    position: absolute;
    top: 0px;
    height: 80vh;
    width: 100%;
    background-color:null;
}
.SaveNotesPdf-main-division{
    width: 170px;
    height: 170px;
    cursor: pointer;
    box-shadow: 0px 0px 7px rgb(190, 190, 190);
    border-radius: 5px;
    background-color: white;
}
.SaveNotesPdf-Second-division {
    display: flex;
    justify-content: space-between;
    padding: 10px 5px 0px 10px;
    border-top: 1px solid rgb(147, 147, 147);
    position: relative;
    background-color: white;
}
.SaveNotesPdf-text-para{
    font-size: 6px;
    padding: 10px;
    width: 100%;
}
.SaveNotesPdf-text-para-division{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    height: 110px;
    /* width: 100px; */
    overflow-wrap:break-word;
    overflow-y: hidden;
}
.SaveNotesPdf-filename-para{
    font-size: 13px;
    height: 20px;
    width: 100px;
    box-shadow: 0px 0px 0px whitesmoke;
    outline: 0px solid white;
    padding: 0px;
}
.SaveNotesPdf-filename-para-false{
    font-size: 13px;
    height: 20px;
    width: 100px;
    box-shadow: 0px 0px 0px whitesmoke;
    outline: 1px solid #487AE2;
    padding: 0px;
}
.SaveNotesPdf-filename-para:hover{
    outline: 0px solid white;
}
.SaveNotesPdf-filename-para:focus{
    outline: 0px solid white;
}
.SaveNotesPdf-date-para{
    font-size: 10px;
    padding-left: 10px;
}
@media screen and  (max-width :450px){
    .Notes-Sub-Division{
        display: flex;
        justify-content: center;
        /* flex-wrap: wrap; */
    }
}