/* .dashboard-reports-balance{
    display: flex;
    margin-top: 20px;
    gap: 20px;
}
*/
.dashboard-reports-balance {
    display: flex;
    margin-top: 20px;
    gap: 20px;
    flex-wrap: wrap;
}
/*
.dashboard-reports{
    width: 67%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
*/
.dashboard-reports {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* background-color: red; */
    /* justify-content: space-around; */
}
/*
.dashboard-balance{
    display: flex;
    flex-direction: column;
    width: 33%;
}
*/
.dashboard-balance {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.dash-reports-card{
    background-color: white;
    padding: 10px 10px 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
    box-shadow: 0px 0px 7px rgba(0,0,0,0.16 );

}

.dash-balance-card {
    flex: 1;
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 0px 7px rgba(0,0,0,0.16 );

}

.nav-div-dash{
    margin: 10px 0px;
}
