.Homepage{
    width: 99%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Renewelpopup{
    position: absolute;
}
@media screen and (max-width: 985px) {
    .ExpiredAc{
        left: 40vh;
    }
}
@media screen and (max-width: 600px) {
    .ExpiredAc{
        left: 0vh;
    }
}