.credit-bill-button,.cash-bill-button{
    border-width: 0px;
    padding: 7px 14px;
    border-radius: 5px;
    box-shadow: 0px 3px 3px rgba(129,129,129,0.16 );
}
.credit-bill-button{
    background-color: var(--blue);
    color: white;
}
.cash-bill-button{
    background-color: white;
}
.credit-bill-button:hover{
    background-color: #4879e2bb;
}
.cash-bill-button:hover{
    background-color: rgb(182, 177, 177);
}
.label-transaction{
    font-weight: normal;
}
.transaction-with-icons{
    display: flex;
    gap: 10px;
    align-items: center;
    width: 100%;
    justify-content: end;
}
.trans-option-btn{
    display: flex;
    gap: 20px;
    align-items: center;
}