.master-btns,.master-dummy-btns{
    border: 1px solid white;
    width: 50%;
    background-color: white;
    padding: 15px 0px;
    color: #333A44;
    transition: all 0.3s;
    box-shadow: 0px 0px 5px rgb(183, 183, 183);
}
.master-btns:hover{
    border: 1px solid #4779E0;
    transition: all 0.2s;
}
.master-btns:focus{
    border: 1px solid #4779E0;
}