.table-responsive {
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  border: 1px solid #ddd;
}

.table-row {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .table {
    overflow-x: auto;
    display: block;
    white-space: nowrap;
  }

  .table tbody {
    display: flex;
    flex-wrap: wrap;
  }

  .table tbody tr {
    width: calc(100% - 20px); /* Adjust based on your needs */
    margin-right: 10px;
  }
}
